#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}


.storagebox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  justify-content: center;
  margin-left: 0; 
  margin-right: 0; 
  padding: 3%;
  background-color: #3c3c3c;
  box-sizing: border-box; /* Ensure padding is included in the element's total width */
}


.product {
  width: 100%;
  max-width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.menubox {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
}

.username{
  padding: 0 15px;
}





